In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import  seaborn as sns

In [10]:
df_exames = pd.read_csv('datasets/exame_diabetes.csv')

In [11]:
df_exames.head()

   id_paciente genero  idade  peso  altura  resultado
0            1      M     46    83     165         98
1            2      F     23    83     164         82
2            3      M     39    71     154         93
3            4      F     26   103     165         95
4            5      M     27    55     176        100

In [13]:
df_exames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_paciente  100 non-null    int64
 1   genero       100 non-null    object
 2   idade        100 non-null    int64
 3   peso         100 non-null    int64
 4   altura       100 non-null    int64
 5   resultado    100 non-null    int64
dtypes: int64(5), object(1)
memory usage: 4.8+ KB

In [5]:
df_exames.genero.unique()

array(['M', 'F'], dtype=object)

In [15]:
# Remover coluna id_paciente
df_exames.drop('id_paciente', axis=1, inplace=True)

In [16]:
df_exames

   genero  idade  peso  altura  resultado
0       M     46    83     165         98
1       F     23    83     164         82
2       M     39    71     154         93
3       F     26   103     165         95
4       M     27    55     176        100
..    ...    ...   ...     ...        ...
95      F     52    96     183         89
96      F     68   108     169        105
97      M     21    95     154        125
98      M     41   109     173        128
99      F     28    86     191         95

[100 rows x 5 columns]

In [25]:
# one-hot encoding para genero
df_exames = pd.get_dummies(df_exames, columns=['genero'], dtype=int)

In [26]:
df_exames

    idade  peso  altura  resultado  genero_F  genero_M
0      46    83     165         98         0         1
1      23    83     164         82         1         0
2      39    71     154         93         0         1
3      26   103     165         95         1         0
4      27    55     176        100         0         1
..    ...   ...     ...        ...       ...       ...
95     52    96     183         89         1         0
96     68   108     169        105         1         0
97     21    95     154        125         0         1
98     41   109     173        128         0         1
99     28    86     191         95         1         0

[100 rows x 6 columns]